/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*------------Google Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swapfamily=Lora:wght@500&display=swap');

/*------------Global Styling----*/
* {
    padding: 0;
    margin: 0;
    font-family: "Lora", sans-serif;
    font-size: 10px;
}

/*------------Background----*/
.bg-color-classic {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9de96) , to(#398235));
    background-image: -o-linear-gradient(top, #c9de96 , #398235);
    background-image: linear-gradient(to bottom, #c9de96 , #398235);
    background-repeat: no-repeat;
}

.bg-color-beach {
    background: #ffddcd url("../images/beach.png") no-repeat center center;
    background-size: cover;
    -webkit-filter: blur(.1rem);
            filter: blur(.1rem);
}

.bg-color-night {
    background: #120202 url("../images/night.png") no-repeat center center;  
    background-size: cover; 
}

#background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    min-height: 100%;
}

#content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

/*------------Logo----*/
#logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3rem;
    padding: 0;
    text-align: left;
    position: absolute;
    top: .5rem;
}

/*------------Headings/Paragraphs----*/
.classic-theme {
    color: #120202;
}

.night-theme {
    color: #D6D6D6;
}

h2 {
    font-size: 3rem;
}

.modal-heading {
    font-size: 2.8rem;
    color: #E27D60;
    text-align: center;
    padding-bottom: 1.5rem;
}

.modal-content h4 {
    font-size: 2.2rem;  
}

.modal-content h5 {
    font-size: 1.2rem;
    text-align: left;
}

.modal-content p span {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

.custom-theme-label {
    font-size: 1.8rem;
}

.stats {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.counter {
    float: right;
}

.text-bold {
    font-weight: 600; 
}

/*------------Game Area----*/
#game-area {
    padding-top: 3.5rem;
    min-height: 80%;
}

.classic-border {
    border: .1rem solid #120202;
}

.night-border {
    border: .1rem solid #D6D6D6;
}

/*------------Game Board Area----*/
#game-board-area {
    padding: 1rem;
    height: 40rem;
    margin-top: 2rem;
    margin-bottom: .8rem;
}

.dealer-container {
    position: absolute; 
    width: 80%; 
}

#dealer-card-total,
#player-card-total {
    margin-bottom: .5rem;
    line-height: 1.2;
}

#dealer-hand {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-left: 1.2rem;
}

#player-hand {
    padding-top: 2rem;
}

.player-container {
    position: absolute;
    top: 30.5rem; 
    width: 80%; 
}

.score {
    font-size: 3rem;
}

/*------------Collapse Hand----*/
.collapse-hand > div {
    position: absolute;
}

.collapse-hand > div:nth-child(2) {
    position: absolute;
    left: 4rem;
}

.collapse-hand > div:nth-child(3) {
    position: absolute;
    left: 7rem;
}

.collapse-hand > div:nth-child(4) {
    position: absolute;
    left: 10rem;
}

.collapse-hand > div:nth-child(5) {
    position: absolute;
    left: 13rem;
}

.collapse-hand > div:nth-child(6) {
    position: absolute;
    left: 16rem;
}

.collapse-hand > div:nth-child(7) {
    position: absolute;
    left: 19rem;
}

.collapse-hand > div:nth-child(8) {
    position: absolute;
    left: 22rem;
}

/*------------Buttons----*/

 .btn {
    font-size: 1.5rem;
    background-color: #E27D60;
    color:#120202;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    border: .1rem solid #3D0D0D;
    width: 7rem;
}

.game-button,
.game-button:hover {
    -webkit-box-shadow: 0rem 1rem 1.5rem 0rem #060906;
            box-shadow: 0rem 1rem 1.5rem 0rem #060906;
}

#no-button:hover,
#yes-button:hover,
.game-options:hover,
.game-button:hover {
    color: #fafad2;
}

.game-button:disabled {
    pointer-events: none;
}

#game-options-buttons,
#game-play-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

/*------------Reset Alert----*/
#reset-alert {
    font-size: 1.6rem;
}

.reset-container {
    text-align: center;
}

#no-button {
    margin-right: 1.5rem;
}

/*------------Cards----*/
.card {
    float: left;
	width: 6rem;
	height: 9rem;
    border: .1rem solid #3D0D0D;
    background-color: #FEF3EC;
	margin-right: .5rem;
	margin-bottom: .5rem;
    border-radius: .5rem;
    text-align: center;
}

.card-id {
    position: relative;
    top: .1rem;
    left: .4rem;
    text-align: initial;
}

.card-id2 {
    position: relative;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    text-align: left;
    right: .4rem;
    top: 1.2rem;  
}

.suit-card {
    font-size: 3rem;
    position: relative;
    top: .8rem;
}

.red {
    color: #9D0208;
}

.black {
    color: #393B3B;
}

/*------------Message Status----*/
/*
#message-status {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
}
*/
/*------------Modal----*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 11; 
    padding-top: 1rem; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

/*------------Modal Content----*/
.modal-content {
    background-color: rgba(22, 31, 22, 0.761);
    border-radius: 1rem;
    margin: 20% auto;
    padding: 2rem;
    width: 95%;
    -webkit-box-shadow: 0rem 1rem 2rem 0rem #060906;
            box-shadow: 0rem 1rem 2rem 0rem #060906;
    border: none;
    color: #fafad2;
    }

.close {
    color: #fafad2;
    font-size: 2.8rem;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #F7725C;
    text-decoration: none;
    cursor: pointer;
}

/*------------Game Outcome Modals----*/

.game-outcome-modal {
    margin: 50% auto;
}

.status {
    font-size: 3.5rem;
    text-align: center;
    color: #F7725C;
}

.status-sub {
    font-size: 2.5rem;
    text-align: center;
    color: #F7725C;
    padding-bottom: 1.5rem;
}

.play-again {
    font-size: 1.5rem;
    line-height: 2;
    background-color: #fafad2;
    color: #220202;
    border-radius: 1rem;
    width: 10rem;
    margin: 0 auto;
}

/*--------------------Media Queries---------------------*/
/* Optimised for widths from 320px, best viewed in portrait orientation
but some landscape options are provided for smaller devices*/

/*--landscape 568px--*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #game-area {
        width: 100%;
        padding-top: 4rem;
    }

    #game-board-area {
        height: 15rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .dealer-container {
        left: 1rem;
        text-align: left;
        width: 40%;
    }

    .player-container {
        top: 10.5rem;
        left: 30rem;
        text-align: left;
        width: 45%;
      }

    .card {
        width: 5rem;
        height: 8rem;
    }

    #player-hand {
        padding-top: 1rem;
    }

    .game-outcome-modal {
        margin: 7% auto;
    }

    .suit-card {
        top: .2rem;
        text-align: center;
    }
    .card-id2 {
        top: .4rem;
    }

    .game-outcome-modal {
    margin: auto;
    }
  }

/*-- Small Screen--*/
@media only screen and (min-width: 375px) {
    .player-container {
        top: 30rem;
    }

    #game-board-area {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .modal-content {
        width: 80%;
    }
}

/*--landscape 667px--*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #game-area {
        max-width: 100%;
    }

    #game-board-area {
        height: 17rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .dealer-container {
        width: 40%;
    }

    #dealer-card-total {
        position: absolute;
        bottom: .02rem;
    }

    .player-container {
        position: absolute;
        top: 10rem;
        left: 35rem;
        width: 45%;
    }

    #player-card-total {
        left: 14rem;
    }

    #player-hand {
    padding-top: 1rem;
    }   

    .game-outcome-modal {
    margin: auto;
    }
  }

/*-- Medium Screen--*/
@media only screen and (min-width: 768px)  {
    #logo {
        font-size: 5rem;
    }

    #game-area {
        max-width: 70%;
        padding-top: 8rem;
    }

    #game-board-area {
        height: 40rem; 
        margin-top: 5rem; 
    }

    .dealer-container {
        width: 60%;
    }

    .player-container {
        top: 38rem;
        width: 60%;
    }

    #game-play-buttons {
        margin-top: 5rem;
    }

    .modal-content {
        width: 60%;
    }

    .card {
        width: 7rem;
        height: 10rem;
    }

    .card-id2 {
        top: 2rem;
    }

    .game-outcome-modal {
        margin: 20% auto;
    }

}

/*-- Landscape 736px wide --*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #game-area {
        max-width: 100%;
        padding-top: 5rem;
    }

    #game-board-area {
        height: 20rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .dealer-container {
        width: 40%;
    }

    #dealer-card-total {
        position: absolute;
        bottom: .02rem;
    }

    .player-container {
        top: 12.5rem;
        left: 35rem;
        width: 45%;
    }

    #player-card-total {
        left: 14rem;
    }

    #player-hand {
        padding-top: 1rem;
    }   

    .modal-content {
        width: 60%;
        margin: 5% auto;
    }
  }

/*-- Landscape 812px wide --*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #logo {
        font-size: 4rem;
        left: -3rem;
    }

    #game-area {
        padding-top: 5rem;
    }

    #game-board-area {
        height: 20rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #game-play-buttons {
        margin-top: 0rem;
    }

    .dealer-container {
        width: 40%;
    }

    #dealer-card-total {
        position: absolute;
        bottom: .02rem;
    }

    .player-container {
        top: 11.5rem;
        left: 40rem;
        width: 45%;
    }

    #player-card-total {
        left: 14rem;
    }

    #player-hand {
        padding-top: 1rem;
    } 
    
    .modal-content {
        width: 60%;
        margin: 3% auto;
    }
  }

/*-- Large Screen--*/
@media only screen and (min-width: 992px)  {
    #game-area {
        padding-top: 11rem;
    }

    #game-board-area { 
        margin-top: 5rem;
    }

    .card {
        width: 7rem;
        height: 10rem;
    }

    .card-id2 {
        top: 2rem;
    }

    .player-container {
        top: 40rem;
    }

     #game-play-buttons {
        margin-top: 3rem;
    }
}

/*-- Extra Large Screen--*/
@media only screen and (min-width: 1400px)  {
    #logo {
        font-size: 6rem;
    }
    
    #game-area {
        padding-top: 9rem;
        max-width: 60%;
    }

    #game-board-area {
        height: 42rem;
        margin-bottom: 2rem;  
    }

    .dealer-container {
        width: 45%;
    }

    .player-container {
        width: 45%;
        top: 40rem;
    }

    .game-options,
    .game-button {
        -webkit-box-flex: .05;
            -ms-flex-positive: .05;
                flex-grow: .05;
        height: 4rem;
    }

    .card {
        width: 7rem;
        height: 10rem;
    }

    .card-id2 {
        top: 2rem;
    }

    .game-outcome-modal {
        margin: 15% auto;
    }
}







  