/*------------Google Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swapfamily=Lora:wght@500&display=swap');

/*------------Global Styling----*/
* {
    padding: 0;
    margin: 0;
    font-family: "Lora", sans-serif;
    font-size: 10px;
}

/*------------Background----*/
.bg-color-classic {
    background-image: linear-gradient(to bottom, #c9de96 , #398235);
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-color-beach {
    background-image: url("../images/beach.png");
    background-repeat: no-repeat;
    background-color: #ffddcd;
    width: 100%;
    height: 100vh;
    filter: blur(.1rem);
}

.bg-color-night {
    background-image: url("../images/night.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(40, 40, 117);
    width: 100%;
    height: 100vh;
}

#background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
}

#content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

/*------------Logo----*/
#logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3.6rem;
    padding: 0;
    margin-left: 0.5rem;
    text-align: left;
    position: absolute;
    top: 1rem;
}

/*------------Headings/Paragraphs----*/

.logo-classic {
    color: #2A2F3C;
}

.logo-night-theme {
    color: #c0c0c0;
}

h2 {
    font-size: 3rem;
}

.modal-content h3 {
    font-size: 2rem;
    text-align: center;
}

.modal-content h4 {
    font-family: sans-serif;
    font-size: 1.6rem;
    
}

.modal-content h5 {
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
}

.modal-content p span {
    font-size: 1.6rem;
}

.text-bold {
    font-weight: 600; 
}

/*------------Game Area----*/
#game-area {
    padding-top: 5rem;
}

/*------------Game Board Area----*/
#game-board-area {
    border: 1px groove #3D0D0D;
    padding: 1rem;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

#dealer,
#player {
    padding-top: 5rem;
    position: fixed;
    text-align: center;
}

#dealer {
    top: 100px;
}

#player {
    top: 275px;  
}

.score {
    font-size: 3rem;
}

/*------------Buttons----*/

 .btn {
    font-size: 1.5rem;
    background-color: #C46D5E;
    color:#220202;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    border: 1px solid #3D0D0D;
    width: 7rem;
}

.btn .btn:hover {
    opacity: 0.5;
}

.btn .btn-link:hover {
    color: #747B83;
    text-decoration: none;
}

#game-options-buttons,
#game-play-buttons {
    display: flex;
    justify-content: space-around;
}

/*------------Cards----*/
.card {
    float: left;
	width: 6rem;
	height: 9rem;
    border: .1rem solid #3D0D0D;
    background-color: #FEF3EC;
	margin-right: .5rem;
	margin-bottom: .5rem;
	border-radius: .5rem;
}

.card-id {
    position: relative;
    top: .1rem;
    left: .4rem;
    text-align: initial;
}

.card-id2 {
    position: relative;
    transform: rotate(180deg);
    text-align: left;
    right: .4rem;
    top: 1.2rem;  
}

.suit-card {
    font-size: 3rem;
    position: relative;
    top: .8rem;
}

.red {
    color: #9D0208;
}

.black {
    color: #393B3B;
}

/*------------Message Status----*/
#message-status {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
}

/*------------Modals----*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 1rem; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: rgba(254, 243, 236, .9);
  margin: auto;
  padding: 2rem;
  border: .1rem solid #888;
  width: 80%;
}

/* Close X */
.close {
  color: #aaaaaa;
  font-size: 2.8rem;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}