/*------------Google Fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swapfamily=Lora:wght@500&display=swap');

/*------------Global Styling----*/
* {
    padding: 0;
    margin: 0;
    font-family: "Lora", sans-serif;
    font-size: 10px;
    color: #3D3D3D;
}

body {
    padding-top: 2rem;
}

/*------------Background----*/
.bg-body {
    background-image: linear-gradient(to bottom, #c9de96 , #398235);
    background-repeat: no-repeat;
    height: 100vh;
}

/*------------Logo----*/
#logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3.5rem;
    color: #2A2F3C;
    padding: 0;
    margin-left: 0.5rem;
    text-align: left;
    position: absolute;
    top: 1rem;
}

/*------------Game Area----*/
#game-area {
    padding-top: 5rem;
}